{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock title %}
{% load cart %} 
{% block content %}
<div>

    <div class="slider">
        <span style="--1:1;"><img src="{%static 'images/o1.jpg'%}"></span>
        <span style="--1:2;"><img src="{%static 'images/o2.jpg'%}"></span>
        <span style="--1:3;"><img src="{%static 'images/o3.jpg'%}"></span>
        <span style="--1:4;"><img src="{%static 'images/o4.jpg'%}"></span>
        <span style="--1:5;"><img src="{%static 'images/o5.jpg'%}"></span>
        <span style="--1:6;"><img src="{%static 'images/o6.jpg'%}"></span>
        <span style="--1:7;"><img src="{%static 'images/o7.jpg'%}"></span>
        <span style="--1:8;"><img src="{%static 'images/o8.jpg'%}"></span>

    </div>
</div>


{% endblock content %}